@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Leckerli+One&family=Outfit:wght@100..900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #141414;
}

.home {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "footer"    
    ;

}

nav {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 5%;
    grid-area: header;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 19px;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
}

nav ul li {
    margin-left: 1em;
}

nav ul li a {
    padding-bottom: 10px;
    position: relative;
    color: #bbbaad;
    transition: color 0.3s ease-in-out;
}

nav ul li a.active {
    color: #02c9e4;
}

nav ul li a:hover {
    color: #02c9e4;
}

nav ul li a::after {
    content: "";
    position: absolute;
    background-color: #02c9e4;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
    color: #02c9e4;
}

nav ul li a.active::after {
    width: 100%;
    color: #02c9e4;
}

.logo {
    font-size: 28px;
    font-family: sriracha,sans-serif;
    color: #bbbaad;
}

.contact-btn button {
    all: unset;
    font-family: "Outfit", sans-serif;
    font-size: 19px;
    background-color: #bbbaad;
    color: #141414;
    border-radius: 15px;
    padding: 1px 8px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out 0s;
}

button:hover {
    background-color: #141414;
    color: #bbbaad;
    border-color: #bbbaad;
}

.personal-detail {
    align-items: center;
    display: grid;
    justify-content: center;
    height: 100vh;
    grid-area: main;
}

.introduction {
    color: #bbbaad;
    padding: 20px;
    text-align: center;
}

.introduction h1 {
    font-family: sriracha, sans-serif;
    font-size: 50px;
    margin-bottom: 5px;
}

.introduction h2 {
    font-family: leckerli one, sans-serif;
    margin-top: 0;
    font-size: 28px;
}

.introduction p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    font-size: 0 auto 15px;
    line-height: 1.6;
    max-width: 750px;
}

.introduction .download-cv a {
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-size: 19px;
    background-color: #bbbaad;
    color: #141414;
    border-radius: 25px;
    padding: 10px 20px;
    border: 2px solid transparent;
    margin-top: 15px;
    display: inline-block;
    transition: all;
}

.introduction .download-cv a:hover {
    background-color: #141414;
    color: #bbbaad;
    border-color: #bbbaad;
}

.social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #02c9e4;
    font-size: 25px;
    border: 3px solid;
    border-color: #02c9e4;
    border-radius: 50%;
    width: 40px;
    height: 40px; 
    text-align: center;
    font-size: 30px;
    transition: all 0.3s ease-in-out 0s;   
}

.social a:hover {
    color: #141414;
    background-color: #02c9e4;
    background-size: 10px;
}

footer {
    text-align: center;
    background-color: #222222;
    color: #bbbaad;
    padding: 20px 0;
    border-top: 5px solid;
    border-color: #bbbaad;
    display: grid;
    grid-area: footer;
}

.project {
    display: grid;
    grid-template-columns:repeat(15,1fr);
    grid-template-rows:repeat(20,1fr);
    color: #bbbaad;
    height: 100vh;
    /* gap: 5px;
    padding: 30px 5%; */
}

.project div {
    border-radius: 25px;
    padding: 25px;
    color: #bbbaad;
    display: flex;
    flex-direction: column;
    justify-content: 16px;
    /* height: 350px;
    width: 350px; */
    overflow: hidden;
    border-radius: 16px;

}

.first-project {
    background-color: #022f35;
    padding: 25px 25px;
    grid-column: 4/8;
    grid-row: 2/10;

}

.second-project {
    background-color: #1a6a75;
    padding: 25px 25px;
    grid-column: 9/13;
    grid-row: 2/10;

}

.third-project {
    background-color: #042c36;
    padding: 25px 25px;
    grid-column: 4/8;
    grid-row: 11/19;
}


.fourth-project {
    background-color: #041e22;
    padding: 25px 25px;
    grid-column: 9/13;
    grid-row: 11/19;
}

.project h1 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: sriracha, sans-serif;
}

.project img {
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

/* demo css */

.video {
    align-items:  center;
    display: flex;
    justify-content: center;
    height: 20em;
    padding: 3em 3em;
    border-radius: 15px;
    flex-direction: column;
}
 .video iframe {
    border-radius: 20px;
 }

 .video-link {
    text-decoration: none;
    color: #bbbaad;
    font-size: 30px;
    font-family: leckerli one ,sans-serif;
    text-align: center;
    padding-top: 15px;
    transition: all 0.3s ease-in-out 0s;
 }
 .video-link:hover {
    color: #9f9a53;
 }
