@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Leckerli+One&family=Outfit:wght@100..900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #141414;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 5%;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 19px;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
}

nav ul li {
    margin-left: 1em;
}

nav ul li a {
    padding-bottom: 10px;
    position: relative;
    color: #bbbaad;
    transition: color 0.3s ease-in-out;
}

nav ul li a.active {
    color: #02c9e4;
}

nav ul li a:hover {
    color: #02c9e4;
}

nav ul li a::after {
    content: "";
    position: absolute;
    background-color: #02c9e4;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
    color: #02c9e4;
}

nav ul li a.active::after {
    width: 100%;
    color: #02c9e4;
}

.logo {
    font-size: 23px;
    font-family: sriracha,sans-serif;
    color: #bbbaad;
}

.contact-btn button {
    all: unset;
    font-family: "Outfit", sans-serif;
    font-size: 19px;
    background-color: #bbbaad;
    color: #141414;
    border-radius: 15px;
    padding: 1px 8px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out 0s;
}

button:hover {
    background-color: #141414;
    color: #bbbaad;
    border-color: #bbbaad;
}

.personal-detail {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.introduction {
    color: #bbbaad;
    padding: 20px;
    text-align: center;
}

.introduction h1 {
    font-family: sriracha, sans-serif;
    font-size: 50px;
    margin-bottom: 5px;
}

.introduction h2 {
    font-family: leckerli one, sans-serif;
    margin-top: 0;
    font-size: 28px;
}

.introduction p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    font-size: 0 auto 15px;
    line-height: 1.6;
    max-width: 750px;
}

.introduction .download-cv a {
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-size: 19px;
    background-color: #bbbaad;
    color: #141414;
    border-radius: 25px;
    padding: 10px 20px;
    border: 2px solid transparent;
    margin-top: 15px;
    display: inline-block;
}

.social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social a {
    color: #02c9e4;
    font-size: 25px;
}

footer {
    text-align: center;
    background-color: #222222;
    color: #bbbaad;
    padding: 20px 0;
    border-top: 5px solid;
    border-color: #bbbaad;
}